/* Bootstrap Grid */
.div_demo {
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    /* border: 1px solid #000; */
}

#div_1 {
    background-color: #F78080;
}
#div_2 {
    background-color: #E8E899;
}
#div_3 {
    background-color: #B6B6ED;
}
#div_4 {
    background-color: #F1D093;
}
#div_5 {
    background-color: #658765;
}
#div_6 {
    background-color: #ECA7A7;
}
#div_7 {
    background-color: #AAAAF3;
}
#div_8 {
    background-color: #4E824E;
}
#div_9 {
    background-color: #BCBC89;
}
#div_10 {
    background-color: #E7C27D;
}
#div_11 {
    background-color: #7272BA;
}
#div_12 {
    background-color: #7A7A60;
}
