html {
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
}
body {
   padding:0px;
   margin:0px;
   font-size: 1rem;
   /* overflow-x: hidden; */
}

header {
    height: 100%;
    width:  100%;
}

 .first {
    position: relative;
}

.navbar {
    background: transparent;
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    float: left;
    display: block;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.slider {
    position: relative;
    font-family: 'Poppins', sans-serif;

}

.slider h1 {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: auto;
    padding: 0;
    text-transform: capitalize;
    text-align: center;
}

.learn-more {
    position: absolute;
    color: #fff;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    text-transform: capitalize;
    text-align: center;
}

.carousel-go-next {
    display: block;
    color: #fff;
    text-align: center;
}

/*.logo {
    float: left;
    /*position: absolute;
    top: 0;
    left: 0;
    margin: 1em;
}*/

/*
#nav-bar {
sticky
background: transparent
z index: 1000;
border: none;
}
#dropdown-menu{
    background: transparent
border: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
    color: #fff;
} */

/* #home p {
    position: absolute;
    text-align: center;
    font-size: 1em;
    color: #fff;
    margin: 0;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
}
article {
    height: 80vh;
    position: relative;
    font-family: 'Poppins', sans-serif;
}*/
h3 {
    margin-top: 5em;
    text-align: center;
    font-size: 1em;
    color: #07a4c4;
    padding-top: 1em;
}
h2 {
    text-align: center;
    font-size: 1.5em;
}
/* section {
    height: 80vh;
    position: relative;
    font-family: 'Poppins', sans-serif;
    background: url('../static/03.jpg') no-repeat center center;
    background-size: contain;
}  */

.social-media {
    background-color: #FAFCFB;
}

.social-media-links {
     /* border: 1px solid #000; */
    width: 60%;
    height: 60px;
    font-size: 0;
    margin: 0 auto;
    padding: 20px;
}

.social-media-links li {
    font-size: 15px;
    display: inline-block;
    /* border: 1px solid #000; */
    width: 20%;
}

.social-media-links .skype {
    background: url('../assets/clients/01-dark.png') no-repeat center;
    background-size: contain;
}
.social-media-links .skype:hover {
    background: url('../assets/clients/01-white.png') no-repeat center;
    background-size: contain;
}

.social-media-links .invision {
    background: url('../assets/clients/02-dark.png') no-repeat center;
    background-size: contain;
}
.social-media-links .invision:hover {
    background: url('../assets/clients/02-white.png') no-repeat center;
    background-size: contain;
}

.social-media-links .google {
    background: url('../assets/clients/03-dark.png') no-repeat center;
    background-size: contain;
}
.social-media-links .google:hover {
    background: url('../assets/clients/03-white.png') no-repeat center;
    background-size: contain;
}

.social-media-links .spotify {
    background: url('../assets/clients/04-dark.png') no-repeat center;
    background-size: contain;
}
.social-media-links .spotify:hover {
    background: url('../assets/clients/04-white.png') no-repeat center;
    background-size: contain;
}

.social-media-links .github {
    background: url('../assets/clients/05-dark.png') no-repeat center;
    background-size: contain;
}
.social-media-links .github:hover {
    background: url('../assets/clients/05-white.png') no-repeat center;
    background-size: contain;
}

.latest-news {
    background-color: #FFF;
    margin: auto;
}

.latest-news h2 {
    font-size: 1.3em;
}

.latest-news h3 {
    color: #7FAABB;
}

.caption-latest-news {
    /* border: 1px solid #000; */
    box-shadow: 0 15px  #FBFBFB;
}

.our-impact {
    background: url('../assets/1920x1080/06.jpg') no-repeat center;
    background-size: cover;
    height: 50vh;
    font-family: 'Poppins', sans-serif;
}
footer {
    background-color:#67686A;

}

.useful-links {
    /* border: 1px solid #000; */
    margin: 0 auto;
    padding: 50px 0px;
}

.useful-links div {
    font-size: 14px;
    /* border: 1px solid #000; */
}

.useful-links div ul {
    margin: 0;
}

.useful-links div ul li {
    list-style-type: none;
    margin: 10px 0px;

}

.useful-links div ul li a {
    color: #D4D5D7;
    outline: none;
    text-decoration: none;
}

.horizontal-break {
    color: #D4D5D7;
    margin-top: 0;
}

.last-text {
    color: #D4D5D7;
    font-size: 14px;
    text-align: left;
}

.last-text h3 {
    text-align: left;
    font-weight: bold;
    color: #fff;
    margin-top: 0;
    font-size: 15px;
    padding-top: 0;
}
.footer-logo {
    display: block;
    width: 100%;
    float: left;
}

.theme span {
    color: #07a4c4;
}

/* Bootstrap Grid */
.div_demo {
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    /* border: 1px solid #000; */
}

#div_1 {
    background-color: #F78080;
}
#div_2 {
    background-color: #E8E899;
}
#div_3 {
    background-color: #B6B6ED;
}
#div_4 {
    background-color: #F1D093;
}
#div_5 {
    background-color: #658765;
}
#div_6 {
    background-color: #ECA7A7;
}
#div_7 {
    background-color: #AAAAF3;
}
#div_8 {
    background-color: #4E824E;
}
#div_9 {
    background-color: #BCBC89;
}
#div_10 {
    background-color: #E7C27D;
}
#div_11 {
    background-color: #7272BA;
}
#div_12 {
    background-color: #7A7A60;
}

